---
title: Checkdesk 3.0 Prototype 
description: Create antiviral social media
layout: desk
---

<div class="sidebar">
  <img src="/images/checkdesk-diamond-logo.png">
</div>

<div class="main">
  <div class="project-header">
    <h3 class="js-queries">Checkdesk > Bellingcat > Project > Geolocation and Analysis of Russian Ministry of Defence Syria Airstrike Videos</h3>

    <div class="project--team">
      <div class="headers">
        <h3>Join our project</h3>
        <h4>Eliot, Hak, Maxim and 7 others</h4>
      </div>
      <div class="members">
        <div class="member"><img src="/images/prototype/eliot.png"></div>
        <div class="member"><img src="/images/prototype/hak.png"></div>
        <div class="member"><img src="/images/prototype/maxim.png"></div>
        <div class="member"><img src="/images/prototype/samir.png"></div>
        <div class="member"><img src="/images/prototype/sergey.png"></div>
        <div class="member"><img src="/images/prototype/surpher.png"></div>
        <div class="member"><img src="/images/prototype/vp.kivimaki_17.png"></div>
      </div>
    </div>
  </div>

  <div class="view-toggle">
    <ul>
      <li class="js-view-class"><a class="default" href="/prototype/desk/bellingcat"><i class="fa fa-picture-o"></i>Expanded</a></li>
      <li class="js-view-class"><a class="timeline" href="/prototype/desk/bellingcat?view=timeline"><i class="fa fa-list-ul"></i>Timeline</a></li>
      <li class="js-view-class"><a class="grid" href="/prototype/desk/bellingcat?view=grid"><i class="fa fa-th"></i>Grid</a></li>
    </ul>
  </div>

  <div class="reports">
    <%= partial "partials/reports" %>
    <%= partial "partials/reports" %>
  </div>

</div>