// The grid theme for the desk
//
body.grid {  
  .reports {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-content: middle;
  }
  .report.report {
    @extend %condensed;
    width: 280px;
    margin: 1em;
  }

  .report--checklog {
    display: none;
    ul {
      padding-left: 5px;
      overflow: hidden;
      img.avatar {
        width: 10px;
        height: 10px;
      }
    }
  }
}