@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

// Project page
// 
body.project {
  // background-color: $thatch5-warm;
  background: $firefly80;
}

// Header
// 
.project-header {
  background-color: white;
  padding: 2em;
  font-size: 14px!important;
  display: flex;
}


// Stylesheet switcher
// 
.view-toggle {
  width: 500px;
  ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    li {
      margin: 0 1em;
    }
  }
  i {
    padding: 0.5em;
  }
  a {
    text-decoration: none;
  }

  li.default a.default, 
  li.condensed a.condensed, 
  li.grid a.grid, 
  li.timeline a.timeline {
    font-weight: bold;
    color: $dodger-blue;
  }
}

// Team members
// 
.project--team {
  display: flex;
  width: 400px;
  .headers {
    width: 50%;
    h3, h4 {
      padding: 0;
      margin: 0;
    }
  }
  .members {
    width: 45%;
    display: flex;
    align-items: flex-start;
    .member {
      &:first-of-type {
        img {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      &:last-of-type {
        img {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      img {
        padding: 0;
        width: 35px;
        height: 35px;
      }
    }
  }
}

// Reports list
// 
.reports {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
}

// A Report: Default view (expanded)
// 
.report {
  background-color: white;
  border-radius: 5px;
  color: $firefly80;
  width: 500px;
  margin: 2em auto;
  overflow: hidden;
  display: none;

  & > * {
    padding: 0 0.5em;
  }

  // The media object core
  // 
  .media-object {
    padding: 0;
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  // The title of the media object
  // 
  .title {
    // font-size: 1.4em;
  }

  // The status on a report
  // 
 .verification-status {
    color: rgba(black,0.7);
    text-transform: capitalize;
    padding: 0.5em 1em!important;
    &:hover {
      cursor: pointer;
    }
    &.progress {
      background-color: $soft-yellow;
    }
    &.false {
      background-color: $false-red;
      color: white;
    }
    &.verified {
      color: white;
      background-color: $verified-green;
    }
 } 

 // The upstream origin URL
 // 
 .source-username {
  color: $dodger-blue;
 }

 // Which user added the report
 // 
.added-by {
  padding: 0.5em 1em!important;
  .source-domain { 
    color: $firefly;
    padding: 0.5em 0;
    border-radius: 4px;
    .fa-youtube-play {
      color: $youtube-red;
    }
    .fa-facebook-official {
      color: $facebook-blue;
    }
  }
  .datestamp { 
    color: $firefly30;
  }
  .username { 
    font-weight: 700; 
    &:before {
      content: "by ";
    }
  }
 }

// The checklog
// 
.checklog {
  background-color: $firefly50;
  padding: 1em;
  font-size: smaller;
  line-height: 1.4;
  .checklog--header {
    display: flex;
    h4 {
      flex: 4 auto;
      margin: 0;
      width: 80%;
    }
    .checklog--actions {
      flex: 1 auto;
      width: 20%;
      color: $firefly40;
      text-align: right;
    }
  }
  p {
    margin: 0.6em 0;
  }
  a {
    vertical-align: bottom;
    display: inline-block;
    max-width: 250px;
    color: $dodger-blue;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    white-space: nowrap;
    line-height: 1.4
  }
  ul {
    list-style-type: none;
    li.checklog--entry {
      display: flex;
      .checklog--entry-icons {
        width: 30px;
        border-left: 1px solid $firefly30;
        position: relative;
        .avatar {
          position: absolute;
          width: 30px;
          border-radius: 4px;
          vertical-align: middle;
          left: -15px;
          margin-top: 0.5em;
        } 
      }
      .checklog--entry-body {
        padding: 0.5em;
        .username {
          font-size: 1.2em;
          font-weight: bold;
          display: block;
        }
        .status-change {
          font-weight: bold;
          em {
            font-style: normal;
            text-transform: capitalize;
          }
          &.verified {
            color: green;
          }
          &.progress {

          }
        }
        .log-entry {
          p {
            padding: 0;
          }
        }
        .timestamp {
          font-size: 0.7em;
          color: $firefly40;
          display: block;
        }
      }
    }
    }
  }
}

// Project with a "condensed" theme
// 
body.condensed {
  font-size: 12px;
  .reports {
    padding: 20px 0;
    .report {
      margin: 1em auto;
      width: 680px;
      padding: 0.6em 0em 0em;
      & > * {
        padding: 0.2em 1em;
      }

      .title {
        font-size: 12px;
        .fa {
          color: $firefly40;
        }
      }
      .description {
        display: none;
      }
      img {
        max-width: 50px;
        border-radius: 5px;
        float: right;
      }
      p {
        margin: 0!important;
        padding: 0 1em;
      }
      .checklog {
        // Toggled with js
        display: none;
      }
    }
  }
}


@import "desk-grid";
@import "desk-timeline";
