// Stylesheet switcher
// 
  
ul.project--stylesheet-switcher {
  border-bottom: 1px solid $firefly20;
  display: flex;
  font-size: 14px!important;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  li {
    margin: 0 1em;
  }
  i {
    padding: 0.5em;
  }

  a {
    text-decoration: none;
    color: $firefly40;
  }

  li.grid a.grid, 
  li.timeline a.timeline {
    color: $dodger-blue;
  }
}

