// colors
$default-text-color     : #4C4E4D;
$theme-color            : #2980b9;

// breakpoints
$break_xsmall         : 400px;
$break_small          : 600px;
$break_medium_small   : 728px;
$break_medium         : 880px;
$break_large_medium   : 950px;
$break_large          : 1080px;
$break_xlarge_large   : 1200px;
$break_xlarge         : 1500px;
$break_xxlarge        : 1600px;

// layout
$default-width          : 1080px;
$gutter-vertical        : 15px;
$gutter-horizontal      : 25px;
$sidebar-width          : 325px;
$sidebar-width-narrow   : 160px;

$default-font-size    : 16px;
$default-line-height  : (25px/$default-font-size);


// Out of Eden Walk Red
// @type color
$ooew-red: #960808;

/// Firefly 2
///@type color
$firefly2: #fafbfb;

/// Firefly 10
///@type color
$firefly10: #e7e8ea;

/// Firefly 20
///@type color
$firefly20: #cfd3d5;

/// Firefly 30
///@type color
$firefly30: #b7bcc0;

/// Firefly 40
///@type color
$firefly40: #9fa6ac;

/// Firefly 5
///@type color
$firefly5: #f3f4f4;

/// Firefly 60
///@type color
$firefly60: #6f7a82;

/// Firefly 80
///@type color
$firefly80: #404d59;

/// Firefly 90
///@type color
$firefly90: #283743;

/// Firefly
///@type color
$firefly: #10212f;

/// Checkdesk Yellow
///@type color
$checkdesk-yellow: #e4ba2a;

/// Keyboard Grey
/// @type Color
$keyboard-grey: #abb5bd;

/// Keyboard Light Grey
/// @type Color
$light-keyboard-grey: #d1d6db;

/// Light Bridge International Orange
/// @type Color
$light-bridge-orange: #fff6f1;

/// Bridge International Orange
/// @type Color
$bridge-orange: #ff4f00;