// breakpoints
$break_xsmall         : 400px;
$break_small          : 600px;
$break_medium_small   : 728px;
$break_medium         : 880px;
$break_large_medium   : 950px;
$break_large          : 1080px;
$break_xlarge_large   : 1200px;
$break_xlarge         : 1500px;
$break_xxlarge        : 1600px;

// layout
$default-width          : 1080px;
$gutter-vertical        : 15px;
$gutter-horizontal      : 25px;
$sidebar-width          : 325px;
$sidebar-width-narrow   : 160px;

$default-font-size    : 16px;
$default-line-height  : (25px/$default-font-size);

// Checkdesk colors named
$ooew-red: #960808;
$firefly2: #fafbfb;
$firefly10: #e7e8ea;
$firefly20: #cfd3d5;
$firefly30: #b7bcc0;
$firefly40: #9fa6ac;
$firefly5: #f3f4f4;
$firefly60: #6f7a82;
$firefly80: #404d59;
$firefly90: #283743;
$firefly: #10212f;
$checkdesk-yellow: #e4ba2a;
$keyboard-grey: #abb5bd;
$light-keyboard-grey: #d1d6db;
$light-bridge-orange: #fff6f1;
$bridge-orange: #ff4f00;
$dodgerBlue: #2E77FC;
$dodgerBlue80: #3B8AFD;
$dodgerBlue60: #7DB1FE;
$dodgerStrong: #2155B4;
$thatch: #B89892;
$thatch80: #BFA29C;
$thatch5: #EFE9E6;
$thatch5Alt: #FBFAF9;
$thatch2: #FEFDFD;
$strongBlue: #2155B4;
$strongBlue80: #4A74C0;
$strongBlue60: #7A99D2;
$verified: #399664;
$undetermined: #EC9131;
$false: #CC4F43;
$in-progress: #F5A623;

// Meme colors configured
$default-text-color     : white;
$theme-color            : $dodgerBlue;