@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "colors";
@import "report_forms";
@import "stylesheet_switcher";
@import "team_members";
@import "report";

// Global declarations
// 
* {
  box-sizing: border-box;
}

body {
  color: $default-text-color;
  font-family: 'Helvetica';
  font-size: 16px;
  height: 100%;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  font-family: Lato, helvetica, Arial, sans-serif;
  color: $firefly60;
  background-color: $thatch5-warm;
  padding: 0em;
}

// Header
// 
.project-header {
  background-color: white;
  padding: 1em 2em;
  font-size: 14px;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $firefly40;
  margin-bottom: 4em;
  h2 {
    width: 40%;
    margin-right: 1em;
    padding-right: 1em;
    font-size: 14px;
  }
}

// Reports list
// 
.reports {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

// Project with a "condensed" theme
// 
// This is a base for other themes
// 
body.condensed {
  font-size: 12px;
  .reports {
    .report {
      margin: 1em auto;
      width: 680px;
      padding: 0.6em 0em 0em;
      & > * {
        padding: 0.2em 1em;
      }

      .title {
        font-size: 12px;
        .fa {
          color: $firefly40;
        }
      }
      .description {
        display: none;
      }
      img {
        max-width: 50px;
        border-radius: 3px;
        float: right;
      }
      p {
        margin: 0!important;
        padding: 0 1em;
      }
      .checklog {
        // Toggled with js
        display: none;
      }
    }
  }
}

// Layout themes
// 
@import "desk-grid";
@import "desk-timeline";


body.project {
  display: flex;
  .sidebar {
    flex: 1 auto;
    background: white;
    height: 100vh;
    padding: 1em;
    border-right: 1px solid $firefly40;
    .branding {
      margin-top: 15px;
    }
  }
  .main {
    flex: 20 auto;
  }
}


// Color themes
%dark-theme {
  background: $firefly80;
  .view-toggle a {
    color: white;
  }
}

%light-theme {
  background-color: $thatch5-warm;
  .report {
    box-shadow: 0 2px 3px $firefly20;
  }
}

// Apply the color themes
body.project {
  @extend %light-theme;
  // @extend %dark-theme;
}