@charset "utf-8";
@import 'compass';

@import 'vars';
@import 'fonts';
@import 'globals';

@import 'modules/m-meme';
@import 'modules/m-canvas';
@import 'modules/m-editor';
@import 'modules/forms';

@import 'vendor/share-button';

// Font application
//
// Each of the major font styles can be implemented with @extend
h1 {
  // @extend %font--hfj-whitney-normal;
  font-size: 1.2em;
  color: $firefly40;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  background-color: $firefly80;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 1em;
}

body {
  // @extend %font--hfj-whitney-normal;
  color: $firefly60;
  background-color: $thatch5Alt;
  padding: 0;
}

a {
  color: $firefly;
}

.m-editor, 
.m-canvas {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.meta {
  width: 100%;
  display: flex;
  &>* {
    line-height: 1.3;
    font-size: 16px;
    padding: 1em;
    margin: 1em;
  }
  @media all and (min-width: 600px) {
    position: fixed;
    bottom: 1em;
    left: 1em;
  }
}