@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import 'vars';
@import 'modules/m-canvas';
@import 'modules/m-editor';
@import 'modules/forms';
@import 'mixins';
@import 'footer';

// Global declarations
// 
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: $default-text-color;
  font-family: 'Helvetica';
  font-size: 16px;
  height: 100%;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  font-family: Lato, helvetica, Arial, sans-serif;
  color: $firefly60;
  background-color: $thatch5Alt;
  padding: 0em;
}

// Global typography
// 
h1 {
  font-size: 1.4em;
  padding: 0.8em;
  margin-bottom: 1em;
  margin-top: 0;
  color: $firefly40;
  font-weight: normal;
  text-align: right;
  background-color: $firefly80;
}

a {
  color: $firefly;
}

// The meme module outer container
// 
// Contains 1. editor module and 2. canvas module.
// 
.m-meme {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding: 0 1em;

  .image-upload-button,
  #image-upload {
    display: none;
  }

  // On smaller screens, single column
  //
  @media all and (max-width: $breakpoint) {
    flex-flow: column nowrap;
  }
}

// Fade in
// 
// The .visible class is added. See ease-in.js.
// 
.m-editor,
.m-canvas {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}


// Warning in footer about how to download
.download-warning {
  display: none;
  @media all and (max-width: $breakpoint) {
    display: block;
    text-align: center;

    em {
      font-weight: 700;
    }
  }
}

// On smaller screens
//
@media all and (max-width: $breakpoint) {

  // Page title
  h1 {
    text-align: center;
    font-size: 14px;
  }

  h2 {
    margin-top: 0;
  }

  // Upload button
  .image-upload-button {
    display: inline-block !important;
    @include button;

    & + input {
      display: none;
    }
  }

  // Hide dropzone
  .dropzone {
    display: none !important;
  }

  // Full width layout
  .m-editor,
  .m-canvas {
    width: 100%;
  }

  form {
    margin-top: 0;
    padding: 0;
  }
}

@media all and (max-width: $breakpoint) {
  .two-col-on-mobile {
    display: flex;
    justify-content: space-between;
    & > div {
      width: 48%;
    }
  }
}