@charset "utf-8";
@import 'compass';

@import 'vars';
@import 'fonts';
@import 'globals';

@import 'modules/m-meme';
@import 'modules/m-canvas';
@import 'modules/m-editor';
@import 'modules/forms';

@import 'vendor/share-button';

// Font application
//
// Each of the major font styles can be implemented with @extend
h1 {
  // @extend %font--hfj-whitney-normal;
  font-size: 1.2em;
  color: $firefly20;
  text-transform: uppercase;
  font-weight: normal;
}

body {
  // @extend %font--hfj-whitney-normal;
  color: $firefly20;
  background-color: $firefly80;
}

a {
  color: $firefly;
}

.m-editor, .m-canvas {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
