@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "colors";
@import "global";
@import "stylesheet-switcher";
@import "team-members";
@import "report";
@import "report-forms";
@import "modal";

// Project themes
// 
@import "project-grid";
@import "project-timeline";

// Main Project Header
// 
.project--header {
  background-color: white;
  padding: 1em 2em;
  font-size: 14px;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $firefly30;

  // inner headers wrapper
  &>.headers {
    width: 50%;
    h2 {
      margin-right: 1em;
      padding-right: 1em;
      font-size: 14px;
      margin-bottom: 0;
    }  
    h3 {
      font-size: 14px;
      font-weight: normal;
      padding: 0;
      margin: 0;
      color: $firefly30;
    }
  }
}

.project {
  display: flex;
  .sidebar {
    flex: 1 auto;
    background: white;
    padding: 1em;
    border-right: 1px solid $firefly30;
    min-height: 100vh;
    @media all and (max-width: 700px) {
      display: none;
    }
    .branding {
      margin-top: 15px;
    }
  }
  .main {
    flex: 20 auto;
    background-color: $firefly90;
  }
}

// Reports list
// 
.reports {
  align-items: flex-start;
  flex-flow: column nowrap;
  display: flex;
  margin: 0 auto;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

// Color themes
%dark-theme {
  background: $firefly80;
  .stylesheet-switcher a {
    color: white;
  }
}

%light-theme {
  background-color: $thatch5-warm;
  .report {
    box-shadow: 0 0px 3px $firefly20;
  }
}

// Apply the color themes
body.project {
  @extend %light-theme;
  // @extend %dark-theme;
}