<div class="m-canvas" id="meme-canvas-view">
  <div class="m-canvas__canvas" id="meme-canvas">
    <noscript>Oops, this web page requires a canvas-enabled browser.</noscript>
  </div>

  <p class="m-canvas__download m-canvas__download--desktop">
    <a href="#" id="meme-download">
      <span class="desktop">
        <span class="icon">&#x2193;</span> Download image</span>
      </span>

      <span class="mobile">
        Generate image
      </span>
    </a>
  </p>

  <p class="download-warning">The image will open in a new tab. <br>
  Save it to your phone, then share.</p>
</div>
