<div class="m-canvas" id="meme-canvas-view">
  <div class="m-canvas__canvas" id="meme-canvas">
    <noscript>Oops, this web page requires a canvas-enabled browser.</noscript>
  </div>
  <p class="m-canvas__download">
    <a href="#" download="share.png" id="meme-download">
      <span class="icon">&#x2193;</span> 
      Download image</a>
  </p>
</div>
