<form class="m-editor" id="meme-editor-view">

  <div class="form-group">
    <div class="dropzone" id="dropzone">Drop Image Here</div>
    <!-- <input type="file" id="loadinput"></input> -->

    <h2><label for="image-scale">Resize image</label></h2>
    <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">
  </div>

  <div class="form-group">
    <button id="size1">Twitter</button>
    <button id="size2">Facebook Post</button>
    <button id="size3">Facebook Ad</button>
    <button id="size4">Facebook Cover </button>
    <button id="size5">Instagram</button>
  </div>
  
  <div class="form-group">
    <button id="size1">Tineye</button>
    <button id="size2">Open Street Map</button>
    <button id="size3">SunCalc</button>
    <button id="size4">Wolfram Alpha</button>
    <button id="size5">Bridge</button>
    <button id="size5">More Plugins ...</button>
  </div>
  
  <div class="form-group">
    <h2><label for="headline">Headline</label></h2>
    <input id="headline" name="headline" type="text" value=""></input>
    <h2><label for="credit">Credit &amp; Link</label></h2>
    <input id="credit" name="credit" type="text" value="">
  </div>
  
  <div class="form-group">
    <h2><label for="font-size">Status Sticker</label></h2>
    <select class="watermark" id="watermark">
      <option value="" disabled>Select a sticker</option>
    </select>
  </div>

  <div class="form-group more-options-button">
    <h2><a href="#">More Options</a></h2>
  </div>
  
  <div class="form-group more-options js-toggle">
    <h2><label for="text-align">Text Alignment</label></h2>
    <select class="text-align" id="text-align">
      <option value="" disabled>Select alignment</option>
    </select>
    
    <h2><label for="font-size">Font Size</label></h2>
    <select class="font-size" id="font-size">
      <option value="" disabled>Select a font size</option>
    </select>
    
    <h2><label for="font-family">Font Family</label></h2>
    <select class="font-family" id="font-family">
      <option value="" disabled>Select a font</option>
    </select>
    
    <div class="checkbox-group text-shadow">
      <input id="text-shadow" name="shadow" type="checkbox">
      <label for="text-shadow">Add Text Shadow</label>
    </div>
    <div class="m-editor__overlay" id="overlay">
      <h2>Overlay Color</h2>
      <ul class="checkbox-group">
        <li><label><input type="radio" name="overlay" value=""> None</label></li>
      </ul>
    </div>
  </div>
</form>