<form class="m-editor" id="meme-editor-view">
  <div class="form-group">
    <div class="dropzone" id="dropzone">Drop Image Here</div>

    <label class="image-upload-button" for="image-upload">Upload file</label>
    <input name="image-upload" type="file" accept="image/*" id="image-upload">
  </div>

  <div class="two-col-on-mobile">
    <div class="form-group">
      <h2><label for="image-scale">Zoom</label></h2>
      <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">
    </div>
    <div class="form-group">
      <h2><label for="font-size">Status Sticker</label></h2>
      <div class="select-wrapper">
        <select class="watermark" id="watermark">
          <option value="" disabled>Select a sticker</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group two-col-on-mobile">
    <div>
      <h2><label for="headline">Headline</label></h2>
      <input id="headline" name="headline" type="text" value=""></input>
    </div>
    <div>
      <h2><label for="credit">Subhead</label></h2>
      <input id="credit" name="credit" type="text" value="">
    </div>
  </div>

  <div class="form-group more-options-button">
    <h2><a href="#">More Options</a></h2>
  </div>
  
  <div class="form-group more-options js-toggle">

    <div class="two-col-on-mobile">
      <div>
        <h2><label for="text-align">Text Alignment</label></h2>
        <div class="select-wrapper">
          <select class="text-align" id="text-align">
            <option value="" disabled>Select alignment</option>
          </select>
        </div>
      </div>
      
      <div>
        <h2><label for="font-size">Font Size</label></h2>
        <div class="select-wrapper">
          <select class="font-size" id="font-size">
            <option value="" disabled>Select a font size</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="two-col-on-mobile">
      <div>
        <h2><label for="font-family">Font Family</label></h2>
        <div class="select-wrapper">
          <select class="font-family" id="font-family">
            <option value="" disabled>Select a font</option>
          </select>
        </div>
      </div>

      <div class="m-editor__overlay" id="overlay">
        <h2><label>Overlay Color</label></h2>
        <ul class="checkbox-group">
          <li><label><input class="m-editor__swatch none" type="radio" name="overlay" value=""> </label></li>
        </ul>
      </div>
    </div>


    <h2>
      <label>Share size</label>
    </h2>
    <div class="button-wrapper">
      <button id="size1">Twitter</button>
      <button id="size2">Facebook</button>
      <!-- <button id="size3">Facebook Ad </button> -->
      <!-- <button id="size4">Facebook Cover </button> -->
      <button id="size5">Instagram</button>
    </div>

    <div class="checkbox-group text-shadow">
      <input id="text-shadow" name="shadow" type="checkbox">
      <label for="text-shadow">Add Text Shadow</label>
    </div>
  </div>
</form>