---
title: Index of Checkdesk prototypes
description: Collaborative verification projects
---

<p>This is a list of checkdesk prototypes active in early 2016. </p>

<ul>
  <li><a href="/meme.html">The memebuster workspace</a></li>
  <li>The bellingcat project "desk"</li>
</ul>