// Meme Buster Forms
// 
form {
  padding: 0 1em;
  margin-top: -70px;

  // Labels
  // 
  .checkbox-group label {
    font-weight: normal;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0em;
    font-size: $form--font-size;
    color: $firefly80;
    padding: $pad 0 0;
    &:first-of-type {
      border-top-width: 0;
    }
  }

  // Groups in the form
  // 
  .form-group {
    background-color: white;
    padding: $pad $pad*2 $pad * 2;
    border: 1px solid $firefly10;
    border-bottom-width: 0;

    &:first-of-type {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    &:last-of-type {
      margin-top: 0;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      border-bottom-width: 1px!important;
    }

    &.more-options-button {
      border: 1px solid $firefly10;
    }
  }

  // Form base styles
  // 
  select,
  input[type="text"],
  input[type="range"],
  .checkbox-group {
    width: 100%;
    font-size: $form--font-size;
    min-height: 1.8em;
    padding: $pad;
  }

  // Inputs
  // 
  input[type="text"] {
    border: 1px solid $firefly10;
    line-height: 2.8;
    outline: 0;

    &:focus {
      border: 1px solid $dodgerBlue;
      transition: border 0.3s;
    }
  }

  // Select
  // 
  select,
  option {
    border: 1px solid #cfcfcf;
    border-radius: 0;
  }

  // Fieldset
  // 
  fieldset {
    border: none;
    margin: 0 auto;
    padding: 0;
  }
}

.more-options-button a {
  text-align: center;
  display: block;
  color: $dodgerBlue;
  text-decoration: none;
  padding-bottom: 1em;
}


// Range input
//

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: $keyboard-grey;
  border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid $keyboard-grey;
  height: 36px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $keyboard-grey;
}


// Dropdowns
select {
  appearance: none;
  background: $light-keyboard-grey;
  border: 0 !important;
  color: white;
  font-size: 16px;
  height: 3em;
  margin: 4px 0;
  padding: 0 10px !important;
  border-radius: 2px !important;
  color: $firefly80;
  
  &:hover {
    background: $keyboard-grey;
    &::after {
      color: $firefly40!important;
    }
  }

  &:active {
    color: $firefly80;
  }
}

.select-wrapper {
  position: relative;

  &::after {
    color: $firefly80;
    content: '▼';
    display: block;
    font-family: monospace;
    font-size: 10px;
    font-weight: bold;
    height: 10px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 1.6em;
    width: 10px;
  }
}

.text-shadow {
  margin-top: 8px;
}


.button-wrapper {
  margin-top: 5px;
}

button {
  background: $light-keyboard-grey;
  color: $firefly80;
  border: 0;
  padding: 6px 8px;
  margin-right: 3px;
  border-radius: 50px;
  appearance: none;
  outline: 0;
  &:hover {
    background-color: $keyboard-grey;
    cursor: pointer;
  }
}