// The editor module inside the meme module
// 
.m-editor {
  margin-bottom: 30px;
  width: 30%;
  min-width: 280px;

  // Dropzone where you can upload the photo
  // 
  .dropzone {
    background-color: $thatch5Alt;
    border: 2px dashed $dodgerBlue;
    border-radius: 10px;
    color: $dodgerBlue;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 80px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    margin: .5em 0;

    &.pulse {
      animation: pulsate 0.3s infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  // The editor overlay
  .m-editor__overlay {

    // Mini-clearfix:
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    ul {
      list-style: none;
      padding: 0;

      label {
        display: block;
        float: left;
        height: 30px;
        width: 30px;
        line-height: 20px;
      }
    }
  }

  // The color swatches (radio buttons)
  // 
  .m-editor__swatch {
    appearance: none;
    background-color: #000;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 100%;
    outline: none;
    text-align: center;
    min-width: 30px;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;

    // TODO: The check should usually be white (except on white). 
    // But, on iOS it's always black. So I added a text shadow. But the text-shadow only appears on iOS. 
    &:checked:before {
      content: '✔';
      color: white!important;
      text-shadow: white 1px 1px;
      vertical-align: center;
    }

    &.none {
      background-color: white;
      border: 1px solid $firefly40;
      &:checked:before {
        color: black!important;
      }
    }
  }
}

.checkbox-group {
  display: flex;

  label {
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
}

// Pulsate keyframes
// 
@keyframes pulsate {
  0% {
    background-color: #fcfcfc;
    border-color: #cfcfcf;
  }

  100% {
    background-color: lighten($theme-color, 40);
    border-color: $theme-color;
  }
}
